---
import App from "@/App.astro";
import * as Blocks from "blocks";
---

<App title="Демонтаж перегородок">
  <main>
    <Blocks.Service
      title="Демонтаж перегородок"
      desc="Компания ProfStek выполняет аккуратный и быстрый демонтаж офисных и торговых перегородок из стекла и алюминия. Мы разбираем конструкции с учетом их возможного повторного использования, минимизируя риск повреждений стен, пола и потолка. Мобильные перегородки снимаются быстро и без последующего ремонта, а демонтаж стационарных может потребовать косметической отделки помещения. Все работы выполняются профессионально, с соблюдением техники безопасности и чистоты на объекте."
      img="service/2.png"
    />
    <Blocks.Price
      title="Цены на демонтаж перегородок"
      prices={[
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Лиственница",
          price: "от 1200 р",
        },
      ]}
    />
    <Blocks.Steps />
    <Blocks.Projects />
    <Blocks.Installation title="Этапы монтажа перегородок" />
    <Blocks.Application />
    <Blocks.Services title="Другие наши услуги" />
    <Blocks.Faq />
    <Blocks.Seo />
  </main>
</App>
