---
import App from "@/App.astro";
import * as Blocks from "blocks";
---

<App title="Монтаж перегородок">
  <main>
    <Blocks.Service
      title="Монтаж перегородок"
      desc="Компания ProfStek профессионально устанавливает офисные и торговые перегородки из стекла и алюминия, обеспечивая быстрый и качественный монтаж. Мы подбираем оптимальную фурнитуру и инструменты, работая с мобильными и стационарными конструкциями. Мобильные перегородки собираются на месте без необходимости ремонта, а стационарные фиксируются на опорных поверхностях и могут требовать косметической отделки. Все перегородки доставляются в виде отдельных элементов и собираются непосредственно на объекте, гарантируя надежность и эстетичный результат."
      img="service/1.png"
    />
    <Blocks.Price
      title="Цены на монтаж перегородок"
      prices={[
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Лиственница",
          price: "от 1200 р",
        },
      ]}
    />
    <Blocks.Steps />
    <Blocks.Projects />
    <Blocks.Installation title="Этапы монтажа перегородок" />
    <Blocks.Application />
    <Blocks.Services title="Другие наши услуги" />
    <Blocks.Faq />
    <Blocks.Seo />
  </main>
</App>
