---
import App from "@/App.astro";
import * as Blocks from "blocks";
---

<App title="Тонирование перегородок">
  <main>
    <Blocks.Service
      title="Тонирование перегородок"
      desc="Компания ProfStek предлагает профессиональное тонирование стеклянных перегородок, обеспечивая конфиденциальность, защиту от солнечных бликов и стильный внешний вид. Мы используем качественные тонирующие пленки разной степени затемнения, матовые и декоративные покрытия, а также технологии напыления. Тонирование подходит как для офисных, так и для торговых перегородок, позволяя создать комфортную атмосферу без потери естественного освещения. Работы выполняются аккуратно и быстро, без повреждения конструкции."
      img="service/3.png"
      variant="secondary"
    />
    <Blocks.Price
      title="Цены на Тонирование перегородок"
      prices={[
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Лиственница",
          price: "от 1200 р",
        },
      ]}
    />
    <Blocks.Steps />
    <Blocks.Projects />
    <Blocks.Types title="Типы плёнок" />
    <Blocks.Application />
    <Blocks.Services title="Другие наши услуги" />
    <Blocks.Faq />
    <Blocks.Seo />
  </main>
</App>
