---
import App from "@/App.astro";
import * as Blocks from "blocks";

import { H2, P, Button } from "ui";
---

<App title="Стеклянные двери">
  <main>
    <Blocks.Hero img="hero/3.png">
      <div class="hero__text">
        <H2>Стеклянные двери </H2>
        <P>
          Стеклянные двери – это стильное и функциональное решение для офисных,
          коммерческих и жилых помещений. Они создают ощущение легкости и
          простора, пропуская максимальное количество естественного света и
          визуально расширяя пространство. Двери изготавливаются из прочного
          закаленного стекла или триплекса, что обеспечивает их надежность,
          безопасность и долговечность. В зависимости от требований интерьера
          можно выбрать прозрачные, матовые, тонированные или узорчатые
          варианты, а также дополнить их стильной фурнитурой. Стеклянные двери
          идеально подходят для современных офисов, торговых залов и
          общественных пространств, сочетая элегантность с практичностью.
        </P>
        <Button variant="secondary" data-modal="callback">
          Заказать расчет

          <svg
            width="37"
            height="9"
            viewBox="0 0 37 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M36.8536 4.85355C37.0488 4.65829 37.0488 4.34171 36.8536 4.14645L33.6716 0.964466C33.4763 0.769204 33.1597 0.769204 32.9645 0.964466C32.7692 1.15973 32.7692 1.47631 32.9645 1.67157L35.7929 4.5L32.9645 7.32843C32.7692 7.52369 32.7692 7.84027 32.9645 8.03553C33.1597 8.2308 33.4763 8.2308 33.6716 8.03553L36.8536 4.85355ZM0 5H36.5V4H0V5Z"
              fill="white"></path>
          </svg>
        </Button>
      </div>
    </Blocks.Hero>
    <Blocks.Price
      title="Цены на товар"
      prices={[
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Название услуги",
          price: "от 1200 р",
        },
        {
          name: "Лиственница",
          price: "от 1200 р",
        },
      ]}
    />
    <Blocks.Quality />
    <Blocks.Advantages />
    <Blocks.Application />
    <Blocks.Steps />
    <Blocks.Projects title="Реализованные проекты" />
    <Blocks.Reviews />
    <Blocks.Faq />
    <Blocks.Seo />
  </main>
</App>
