---
import App from "@/App.astro";
import * as Blocks from "blocks";
---

<App title="Главная">
  <main>
    <Blocks.Hero />
    <Blocks.Catalog />
    <Blocks.Advantages />
    <Blocks.Discounts />
    <Blocks.Application />
    <Blocks.Services />
    <Blocks.Steps />
    <Blocks.Projects isMain />
    <Blocks.Reviews />
    <Blocks.Faq />
    <Blocks.Seo />
  </main>
</App>
