---
import App from "@/App.astro";
import * as Blocks from "blocks";
---

<App title="Наши работы">
  <main>
    <Blocks.Projects
      title="Наши работы"
      desc="Компания ProfStek успешно реализовала множество проектов по установке, демонтажу и тонированию стеклянных перегородок в офисных и торговых помещениях. Мы создаем стильные и функциональные решения, учитывая индивидуальные пожелания клиентов и особенности пространства. В нашем портфолио – мобильные и стационарные перегородки, выполненные с точностью и соблюдением всех стандартов безопасности. Каждый проект – это сочетание качества, эстетики и надежности. Ознакомьтесь с нашими работами и убедитесь в профессионализме ProfStek!"
      isMain
    />
    <Blocks.Application />
    <Blocks.Faq />
    <Blocks.Seo />
  </main>
</App>
