---
import App from "@/App.astro";
import * as Blocks from "blocks";
---

<App title="Услуги">
  <main>
    <Blocks.Services title="Услуги компании ProfStek" desc="Компания «ProfStek» занимается производством и монтажом всех основных систем перегородок, применяющихся для эффективного зонирования офисного и торгового пространства: цельностеклянные перегородки (бескаркасные перегородки из закалённого стекла), классические алюминиевые перегородки, алюминиевые перегородки эконом класса, мобильные перегородки (не крепятся к полу и стенам), перегородки в стиле Лофт из стекла и алюминиевого каркаса." isMain />
    <Blocks.Steps />
    <Blocks.Projects />
    <Blocks.Application />
    <Blocks.Faq />
    <Blocks.Seo />
  </main>
</App>
