---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Faq -->
<Section name="faq"> .faq </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .faq {
    position: relative;
  }
</style>
