---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Palette -->
<Section name="palette">
  <H2>Палитра RAL</H2>

  <div class="palette__content">
    <div class="palette__list">
      <div class="palette__item" style="background-color: #CCC58F;">
        <p>RAL 1000</p>
        <p>Зелёно-бежевый</p>
      </div>
      <div class="palette__item" style="background-color: #D1BC8A;">
        <p>RAL 1001</p>
        <p>Бежевый</p>
      </div>
      <div class="palette__item" style="background-color: #D2B773;">
        <p>RAL 1002</p>
        <p>Песочно-жёлтый</p>
      </div>
      <div class="palette__item" style="background-color: #F7BA0B;">
        <p>RAL 1003</p>
        <p>Сигнальный жёлтыый</p>
      </div>
      <div class="palette__item" style="background-color: #E2B007;">
        <p>RAL 1004</p>
        <p>Жёлто-золотой</p>
      </div>
      <div class="palette__item" style="background-color: #C89F04;">
        <p>RAL 1005</p>
        <p>Медово-жёлтый</p>
      </div>

      <div class="palette__item" style="background-color: #E1A100;">
        <p>RAL 1006</p>
        <p>Кукурузно-жёлтый</p>
      </div>

      <div class="palette__item" style="background-color: #E79C00;">
        <p>RAL 1007</p>
        <p>Нарциссово-жёлтый</p>
      </div>

      <div class="palette__item" style="background-color: #AF8A54;">
        <p>RAL 1011</p>
        <p>Коричнево-бежевый</p>
      </div>

      <div class="palette__item" style="background-color: #D9C022;">
        <p>RAL 1012</p>
        <p>Лимонно-жёлтый</p>
      </div>

      <div class="palette__item" style="background-color: #E9E5CE;">
        <p>RAL 1013</p>
        <p>Жемчужно-белый</p>
      </div>

      <div class="palette__item" style="background-color: #DED09F;">
        <p>RAL 1014</p>
        <p>Слоновая кость</p>
      </div>

      <div class="palette__item" style="background-color: #EADEBD;">
        <p>RAL 1015</p>
        <p>Светлая слоновая кость</p>
      </div>

      <div class="palette__item" style="background-color: #EAF044;">
        <p>RAL 1016</p>
        <p>Жёлтая сера</p>
      </div>

      <div class="palette__item" style="background-color: #F4B752;">
        <p>RAL 1017</p>
        <p>Шафраново-жёлтый</p>
      </div>

      <div class="palette__item" style="background-color: #F3E03B;">
        <p>RAL 1018</p>
        <p>Цинково-жёлтый</p>
      </div>

      <div class="palette__item" style="background-color: #A4957D;">
        <p>RAL 1019</p>
        <p>Серо-бежевый</p>
      </div>

      <div class="palette__item" style="background-color: #9A9464;">
        <p>RAL 1020</p>
        <p>Оливково-жёлтый</p>
      </div>

      <div class="palette__item" style="background-color: #CCC58F;">
        <p>RAL 1000</p>
        <p>Зелёно-бежевый</p>
      </div>
      <div class="palette__item" style="background-color: #D1BC8A;">
        <p>RAL 1001</p>
        <p>Бежевый</p>
      </div>
      <div class="palette__item" style="background-color: #D2B773;">
        <p>RAL 1002</p>
        <p>Песочно-жёлтый</p>
      </div>
      <div class="palette__item" style="background-color: #F7BA0B;">
        <p>RAL 1003</p>
        <p>Сигнальный жёлтыый</p>
      </div>
      <div class="palette__item" style="background-color: #E2B007;">
        <p>RAL 1004</p>
        <p>Жёлто-золотой</p>
      </div>
      <div class="palette__item" style="background-color: #C89F04;">
        <p>RAL 1005</p>
        <p>Медово-жёлтый</p>
      </div>

      <div class="palette__item" style="background-color: #E1A100;">
        <p>RAL 1006</p>
        <p>Кукурузно-жёлтый</p>
      </div>

      <div class="palette__item" style="background-color: #E79C00;">
        <p>RAL 1007</p>
        <p>Нарциссово-жёлтый</p>
      </div>

      <div class="palette__item" style="background-color: #AF8A54;">
        <p>RAL 1011</p>
        <p>Коричнево-бежевый</p>
      </div>

      <div class="palette__item" style="background-color: #D9C022;">
        <p>RAL 1012</p>
        <p>Лимонно-жёлтый</p>
      </div>

      <div class="palette__item" style="background-color: #E9E5CE;">
        <p>RAL 1013</p>
        <p>Жемчужно-белый</p>
      </div>

      <div class="palette__item" style="background-color: #DED09F;">
        <p>RAL 1014</p>
        <p>Слоновая кость</p>
      </div>

      <div class="palette__item" style="background-color: #EADEBD;">
        <p>RAL 1015</p>
        <p>Светлая слоновая кость</p>
      </div>

      <div class="palette__item" style="background-color: #EAF044;">
        <p>RAL 1016</p>
        <p>Жёлтая сера</p>
      </div>

      <div class="palette__item" style="background-color: #F4B752;">
        <p>RAL 1017</p>
        <p>Шафраново-жёлтый</p>
      </div>

      <div class="palette__item" style="background-color: #F3E03B;">
        <p>RAL 1018</p>
        <p>Цинково-жёлтый</p>
      </div>

      <div class="palette__item" style="background-color: #A4957D;">
        <p>RAL 1019</p>
        <p>Серо-бежевый</p>
      </div>

      <div class="palette__item" style="background-color: #9A9464;">
        <p>RAL 1020</p>
        <p>Оливково-жёлтый</p>
      </div>
    </div>
    <button class="palette-btn">Развернуть палитру</button>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .palette {
    position: relative;

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(24);
    }

    &__list {
      max-height: rem(332);
      width: 100%;
      transition: var(--transition-bezier);
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      gap: rem(2);

      @include media("xl") {
        grid-template-columns: repeat(6, 1fr);
      }
      @include media("lg") {
        grid-template-columns: repeat(4, 1fr);
      }
      @include media("sm") {
        grid-template-columns: repeat(3, 1fr);
      }
      @include media("xs") {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__item {
      padding: rem(30) rem(10);
      height: rem(165);
      font-size: rem(12);
      border-radius: rem(10);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      gap: rem(5);
    }

    &-btn {
      color: var(--primary);
      font-weight: 500;
    }
  }
</style>
