---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Seo -->
<Section name="seo"> .seo </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .seo {
    position: relative;
  }
</style>
