---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Steps -->
<Section name="steps">
  <H2>Этапы работы с нами</H2>
  <div class="steps__list"></div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .steps {
    position: relative;
  }
</style>
